@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}


body{
    overflow: hidden;
}


form { 
    height:150%;
    padding-top: 9%;
    padding-bottom: 13%;
    background-color: rgb(255, 152, 152);
    
}
.content{
    position: absolute;
    top:20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p {
    color:#98FFFF;
}

#para{
    color: black;
}
img {
    height: 400px;
}

.text { 
    padding-top: 5%;
}

@media only screen and (max-width: 768px) {

    img {
        height: 300px;
    }
}


