@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

span {
    color: rgb(255, 152, 152);
}

.but {
    padding: 10px;
}

.but button {
    width: 100px;
    font-size: 1.5em;
      
   
}

